@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  outline: 0;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: url(./assets/newbgs.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden!important;
}
p {
  font-size: 1.3rem;
  font-family: "Red Hat Display", sans-serif;
}
#about, #project ,#uibanner{
  margin: 5% 0%;
}

/** SCROLLL**/
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(207, 203, 203);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: grey;
  opacity: 0.6;
}
.stroke {
  -webkit-text-stroke: 1px black;
  color: #ffffff;
}
:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

.blur1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.blur2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.blur3 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}
#hero,
#project {
  padding: 8%;
}

.maintext {
  font-size: calc(3.375rem + 1.5vw);
}
.nav-item .nav-link {
  color: black !important;
  font-weight: 400;
  font-size: 1.3em;
  margin: 0px 10px;
  padding: 10px;
}

.nav-item .nav-link:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: 500;
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}
.socialmedia {
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.socialmedia a {
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px 15px;
  margin: 5px;
  height: fit-content;
}
.socialmedia i {
  font-size: 25px;
  color: black;
}
.socialmedia a:hover {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  margin: 5px;
  transition: all 0.5s ease-in-out;

  height: fit-content;
}
.contactbox {
  padding: 10px;
}

.smalltext {
  font-size: 1rem;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.subhead {
  font-size: 4.6em;
  width: 60%;
}
.line1 {
  height: 2px;
  background-color: #f6f6f6;
}
.imgpro {
  max-width: 550px;
  border-radius: 20px;
  animation: zoom 5s;
  transition: all 5ms ease-in-out;
}
/* @keyframes zoom {
  from{
transform: scale(55%);
  }
  to{
    transform: scale(100%);

  }
} */
#project .row {
  margin-bottom: 10%;
}
.skillimg {
  width: 55px;
  padding-right: 10px;
}
.pro-title {
  font-size: 1em;
  font-weight: bold;
}
.pro-tech {
  font-size: 1.66em;
  font-weight: bold;
}
.loadmore {
  background-color: #ffffff;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10%;
  border: none;
}
.loadmore::before {
  content: url(./assets/icons8-down-arrow-ios-16-32.png);
  width: 64px;
  height: 64px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid grey;
  position: relative;
  top: -62px;
  right: -88px;
}
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 180px;
  overflow-x: hidden;
  font-size: 110px;
  font-weight: bold;
  text-transform: uppercase;
  color: #eae6e6;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.contactmedia {
  font-size: 25px;
  text-align: center;
  padding: 20px;
}
.contactmedia a {
  color: black;
  padding: 10px;
}
.contactlink {
  margin: 10px;
}
.contactlink .col {
  padding: 15px;
}
.contactmail {
  text-align: right;
  font-size: 18px;
  text-decoration: underline;
}
.contactlogo {
  width: 32px;
}
footer {
  text-align: center;
  padding: 10px;
  color: #797676;
  background-color: #f4f4f4;
}
.skillbox {
  margin: 30px 0px;
  padding: 20px 0px;
}
.mypic {
  width: 300px;
}
.skilltitle {
  font-size: 25px;
  color: black;
  padding-bottom: 10px;
  font-weight: 600;
}
.skillcol {
  padding-left: 0rem !important;
}
.skillcol li {
  padding: 2px;
  font-size: 22px;
  text-decoration: none;
  list-style: none;
}

.probtn {
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  outline: none;
}
.probtn:hover {
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;
  transition: all 0.5s ease-in-out;
}
.comlogo {
  width: 200px;
}
.domain {
  margin-bottom: 40px;
  padding: 0%;
}
.fa-envelope {
  font-size: 20px;
  color: black;
  margin: 0px 10px;
}
.email {
  color: black;
}
.email:hover {
  font-weight: 500;
  color: black;
  transition: all 0.5s ease-in-out;
}
.emailtxt {
  font-size: 1.3em;
  color: black !important;
}
@media only screen and (max-width: 500px) {
  .imgpro {
    width: 220px;
  }
  .subhead {
    font-size: 1.5rem;
    width: 100%;
  }
  .maintext {
    font-size: calc(1.575rem + 1.5vw);
  }
  .emailtxt {
    font-size: 0.8em !important;
  }
  .contactbox {
    padding: 0px;
  }
  .loadmore::before {
    padding: 13px;
    top: 58px;
    right: -52%;
    margin-bottom: 43px;
    margin-top: 20px;
  }

  .loadmore {
    padding: 2px;
  }
  .email {
    font-size: 0.87em;
  }
}

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .contactmail {
    font-size: 15px;
  }
}

.colui {
  border: 1px solid rgb(145, 144, 144);
  border-radius: 10px;
  padding: 10px;
}
.boxui {
  height: 500px;
}
.myuicard {
  border: 1px solid rgb(136, 134, 134);
  border-radius: 10px;
  color: black;
}
.boxui .banner {
  transform: rotate(-15deg);
  padding-left: 100px;
  top: 17px;
  right: -60px;
  position: relative;
}
#uibanner {
  margin: 4% 2%;
}
#uibanner .probtn {
  color: #000000;
  border-color: rgb(0, 0, 0);
}
#uibanner .probtn:hover {
  color: white;
}
.uidesign {
  width: 170px;
  border-radius: 10px;
}
#uibanner .col-lg-4 {
  padding: 40px;
}
